.line-4px {
    background-color: gray;
    height: 4px;
}



.footer {
    background-color:rgb(75, 75, 75);
}

.footer > .footer-rapper {
    display: flex;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 1.5em;
    color: rgb(218, 218, 218);
}

.footer > .footer-rapper div p span {
    font-weight: 900;
}

.footer > .footer-rapper {
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
}

.line-spaser-for-footer {
    border-left: 4px solid gray;
}