/* common */
.spaser10 {
    padding: 10px;
}

/* body */
.page-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(63, 63, 63);
    box-shadow: -63px -200px 150px 42px rgb(0 0 0 / 44%) inset;
    color: rgb(160, 160, 160);
}

/* right-colum */
.page-body > .right-colum > .section-two-box-with-img > .this-is-code-rapper {
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 1.3em;
}

.page-body > .right-colum > .section-two-box-with-img > .this-is-code-rapper :nth-child(2) {
    color: skyblue;
}

/* right-colum img's */
.page-body > .right-colum > .section-two-box-with-img > .img-of-code img {
    width: 700px;
}

/* left-colum */

.page-body > .left-colum > .left-colum-box {
    padding:20px 50px;
    font-size: 2.5em;
    font-weight: 50;
}

.page-body > .left-colum > .left-colum-box p span {
 font-weight: 700;
 color: rgb(212, 212, 212);
}

.page-body > .left-colum > .left-colum-box > .link-boxes {
    display: flex;
    flex-direction: row;
}

.page-body > .left-colum > .left-colum-box > .link-boxes > .link-box-1 {
    background-color: rgba(100, 230, 100, 0.911);
    padding: 10px;
    border-radius: 3px;
    color: black;
}

.page-body > .left-colum > .left-colum-box > .link-boxes > .link-box-2 {
    background-color: rgba(0, 0, 0, 0.911);
    padding: 10px;
    border-radius: 3px;
    color: rgb(219, 219, 219);
}


